
.form{
    background-color: blue;
    border-radius: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 20%;


}
.input{
    width: 60%;
    height: 50%;
    border-radius: 3.5rem;
}
.text{
    width: 30%;
    height: 50%;
    border-radius: 3.5rem;
} 